[0;1;31m×[0m mariadb.service - MariaDB 10.11.13 database server
     Loaded: loaded (]8;;file://practica-EGC/usr/lib/systemd/system/mariadb.service/usr/lib/systemd/system/mariadb.service]8;;; [0;1;32menabled[0m; preset: [0;1;32menabled[0m)
     Active: [0;1;31mfailed[0m (Result: exit-code) since Wed 2025-11-05 12:03:58 CET; 2min 3s ago
   Duration: 1h 15min 19.397s
       Docs: ]8;;man:mariadbd(8)man:mariadbd(8)]8;;
             ]8;;https://mariadb.com/kb/en/library/systemd/https://mariadb.com/kb/en/library/systemd/]8;;
    Process: 165185 ExecStartPre=/usr/bin/install -m 755 -o mysql -g root -d /var/run/mysqld (code=exited, status=0/SUCCESS)
    Process: 165187 ExecStartPre=/bin/sh -c systemctl unset-environment _WSREP_START_POSITION (code=exited, status=0/SUCCESS)
    Process: 165189 ExecStartPre=/bin/sh -c [ ! -e /usr/bin/galera_recovery ] && VAR= ||   VAR=`/usr/bin/galera_recovery`; [ $? -eq 0 ]   && systemctl set-environment _WSREP_START_POSITION=$VAR || exit 1 (code=exited, status=0/SUCCESS)
    Process: 165270 ExecStart=/usr/sbin/mariadbd $MYSQLD_OPTS $_WSREP_NEW_CLUSTER $_WSREP_START_POSITION [0;1;31m(code=exited, status=1/FAILURE)[0m
   Main PID: 165270 (code=exited, status=1/FAILURE)
     Status: "[0;1;36mMariaDB server is down[0m"
        CPU: 779ms

nov 05 12:03:58 practica-EGC mariadbd[165270]: 2025-11-05 12:03:58 0 [Note] Plugin 'FEEDBACK' is disabled.
nov 05 12:03:58 practica-EGC mariadbd[165270]: 2025-11-05 12:03:58 0 [Warning] You need to use --log-bin to make --expire-logs-days or --binlog-expire-logs-seconds work.
nov 05 12:03:58 practica-EGC mariadbd[165270]: 2025-11-05 12:03:58 0 [Note] InnoDB: Memory pressure event disregarded; innodb_buffer_pool_size=128m, innodb_buffer_pool_size_min=128m
nov 05 12:03:58 practica-EGC mariadbd[165270]: 2025-11-05 12:03:58 0 [Note] Server socket created on IP: '127.0.0.1'.
nov 05 12:03:58 practica-EGC mariadbd[165270]: 2025-11-05 12:03:58 0 [ERROR] Can't start server: Bind on TCP/IP port. Got error: 98: Address already in use
nov 05 12:03:58 practica-EGC mariadbd[165270]: 2025-11-05 12:03:58 0 [ERROR] Do you already have another server running on port: 3306 ?
nov 05 12:03:58 practica-EGC mariadbd[165270]: 2025-11-05 12:03:58 0 [ERROR] Aborting
nov 05 12:03:58 practica-EGC systemd[1]: [0;1;39m[0;1;31m[0;1;39mmariadb.service: Main process exited, code=exited, status=1/FAILURE[0m
nov 05 12:03:58 practica-EGC systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mmariadb.service: Failed with result 'exit-code'.[0m
nov 05 12:03:58 practica-EGC systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start mariadb.service - MariaDB 10.11.13 database server.[0m
